.header {
  @include flex($jc:space-between, $ai: center);
  padding: rem(10px, $fontSize);
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  min-height: rem(80px, $fontSize);

  &__logo {
    padding: rem(15px, $fontSize);
    max-width: rem(170px, $fontSize);
    max-height: rem(29px, $fontSize);

    & img{
      max-width: rem(170px, $fontSize);
      max-height: rem(29px, $fontSize);
    }
  }

  &__navigation {
    @include flex($jc: space-between, $ai: center);
    width: 100%;
    max-width: rem(420px, $fontSize);

    & img {
      max-height: rem(29px, $fontSize);
    }

    &--add-button {
      padding: rem(7px, $fontSize) rem(24px, $fontSize);
      border-radius: rem(24px, $fontSize);
      color: $title-color;
      font-size: rem(16px, $fontSize);
      border: 2px solid #2196f3;
      background-color: transparent;
      cursor: pointer;
      & span {
        display: inline-block;
        padding-left: rem(10px, $fontSize);
        color: $primary-color;
        font-size: rem(22px, $fontSize);
      }

      &:hover {
        transition: 0.5s;
        color: $primary-color;
        background-color: $background-row-1;
        & span {
          color: $title-color;
        }
      }
    }

    &--avatar {
      @include flex($jc: space-between, $ai: center);
    }

    &--avatar-photo {
      min-height: rem(60px, $fontSize);
      min-width: rem(60px, $fontSize);
    }
  }
}

.avatar-menu {
  cursor: pointer;

  &__item {
    display: inline;
    margin-left: 10px;
    position: relative;
  }

  &__submenu {
    position: absolute;
    top: rem(40px, $fontSize);
    right: 0;
    width: 100%;
    z-index: 10;
    transition: 1s ease-in-out;
    & li {
      padding: rem(3px, $fontSize) rem(10px, $fontSize);
    }
  }

}

.avatar-menu .avatar-menu__submenu {
  transform: scaleY(0);
  transform-origin: 0 0;
  background: $background-row-1;
  color: $title-color;
  padding: rem(5px, $fontSize);
  border-radius: rem(5px, $fontSize);
  min-width: rem(160px, $fontSize);
}

.avatar-menu ul li:hover .avatar-menu__submenu {
  transform: scaleY(1);
  & li:hover {
    color: $primary-color;
  }
}
