.main-projects {
  display: flex;
  flex-direction: column;
  width: calc(100% - 95px);
  @media (max-width: 700px) {
    width: 100%;
  }
}


.submenu {
  display: flex;
  padding: 24px;
  background-color: #2196f3;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 960px) {
    flex-direction: column;

    justify-content: space-around;
  }

  @media (max-width: 480px) {
    display: none;
  }

  &__buttons {
    font-size: 18px;

    color: black;

    @media (max-width: 960px) {
      display: flex;

      width: 100%;
      margin-bottom: 15px;

      justify-content: space-around;
    }
  }

  &__button {
    margin-right: 30px;
    color: #3a3e52;

    &:hover {
      color: white;
    }

    &_margin {
      margin-right: 6px;
    }

    &_active {
      color: white;
    }
  }

  &__filter {
    position: relative;

    display: flex;

    color: white;

    align-items: center;

    &-label {
      margin-right: 24px;
    }

    &-btn {
      position: relative;

      padding-top: 12px;
      padding-right: 95px;
      padding-bottom: 12px;
      padding-left: 20px;

      transition: border-radius linear 0.5s;

      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 30px;

      &::after {
        position: absolute;
        top: 15px;
        right: 20px;

        width: 10px;
        height: 10px;

        content: '';
        transform: rotate(-45deg);

        border-bottom: 2px solid white;
        border-left: 2px solid white;
        background: transparent;
      }
    }

    &-content {
      position: absolute;
      z-index: 50;
      top: 45px;
      right: 0;

      visibility: hidden;
      overflow: hidden;

      min-width: 220px;
      max-height: 0;

      transition: all linear 0.4s;
      text-align: left;

      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: #2196f3;
    }

    &-option {
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 20px;

      &:hover {
        cursor: pointer;

        color: black;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
