//Color
$black: #000000;
$white: #ffffff;
$default-color: #2f3242;
$background-color: #2f3242;
$background-row-1: #2b2d3c;
$item-color: #3a3e52;
$active-color: #757da4;
$primary-color: #2196f3;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #2e31b9;
$light-color: #9ea3b4;
$title-color: #ffffff;
$text-color: #9ea3b4;
$color-main: #2f3242;
$color-secondary: #2196f3;
$color-bg: #2a2c3b;
$color-white: #ffffff;
$color-black: #000;
$color-grey: #737ba2;
$color-text: #9ea3b4;
$color-success: #4caf50;

//Size
$phoneWidth: 480px;
$tableWidth: 768px;
$desktopWidth: 1280px;
$mainLineHeight: 28px;
$fontSize: 14px;
$fontSizeMedium: 12px;
$fontSizeSmall: 10px;

// fonts
$font-txt: Montserrat;
